.customer-card {
    backdrop-filter: blur(5px);
    color: black;
    // background: #1b1d2680;

    & .container-card {
        width: 100%;
        height: 100%;
        color: black;
        // background: #f9fafb;
    }
}

// @media (prefers-color-scheme: dark) {
//     .customer-card {
//         color: white;

//         & .container-card {
//             color: white;
//             background: #1b1d26;
//         }
//     }
// }

.bg-delivery {
    background-color: #f9fafb;
}